<h1>Modifier l'ordinateur</h1>


<div *ngIf="!isLoading">

<form #ordiForm="ngForm" (ngSubmit)="modifOrdi()">

  <label for="nom"> le modèle </label>
  <input type="text" class="form-control" name="nom" id="nom" required [(ngModel)]="ordi.modele"><br>

  <label for="marque">Renseigner une marque</label>
<div *ngFor="let marque of marqueDispo">
  <input type="radio" id="marque" name="marque" [value]="marque" required [(ngModel)]="ordi.marque"
    #marque="ngModel">
  <label class="radio" for="marque"> {{marque}}</label>
</div><br>

<div>
  <label for="type">Type de l'ordinateur</label>
  <select class="form-control" id="type" required [(ngModel)]="ordi.type" name="type" #type="ngModel">
    <option *ngFor="let item of typeDispo" [value]="item">{{item}}</option>
  </select>
</div><br>

  <label for="marque">Renseigner la catégorie</label>
<div *ngFor="let marque of categoriDispo">
  <input type="radio" id="cat" name="cat" [value]="marque" required [(ngModel)]="ordi.category"
    #marque="ngModel">
  <label class="radio" for="marque"> {{marque}}</label>
</div><br>

  <label for="id"> Prix d'achat</label>
  <input type="number" class="form-control" name="prix" id="prix" required [(ngModel)]="ordi.prixAchat"><br>

  <label for="id"> Prix de vente</label>
  <input type="number" class="form-control" name="prixvente" id="prixvente" required [(ngModel)]="ordi.prixVente"><br><br>



  <input class="btn btn-danger" [disabled]="!ordiForm.valid" type="submit" value="Envoyer"><br>

</form>

</div>

<div *ngIf="isLoading">
  <p>Traitement des données.....</p>
</div>








