
h1{
  text-align: center;
  color: red;
  border: 1px solid black;

}


table{
  width: 80%;
  margin-left: 5rem;

}

.btn{
  margin-left: 5rem;
}

td,th{
  text-align: center;
  border: 1px solid black;
}

