<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#"><img src="https://cdn.espacelangues.emdl.fr/system/uploads/unity/core/media_file/file/ff47177e-f580-4b2e-8e3d-aa46aa8767bd/logo_pc.png?version=1547634452%20width=" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-danger" routerLink="/home" >Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" routerLink="/ordi/ajout">Ajouter</a>
      </li>

    </ul>
  </div>
</nav>

